<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns ="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<form name="signUpForm"  th:object="${userCreateForm}" th:action="@{/register}" th:method="post">
    <div class="form-group alert-danger" th:if="${param.error}">
        Email error!
    </div>
    <input th:field="*{email}" type="email" placeholder="Email:"/>
    <input th:field="*{password}" type="password" placeholder="Password:"/>
    <input th:field="*{passwordRepeat}" type="password" placeholder="Password Repeat:"/>
    <input th:field="*{name}" type="text" placeholder="Name:"/>
    <button type="submit">Register</button>
</form>
</body>
</html>
